/*顯示高於carousel外框高度的物件*/
.owl-carousel .owl-stage-outer {
  overflow: visible;
}
/*被觸發的中間項目放大1.2倍*/
.owl-item.active.center {
  z-index: 2;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: ease 0.5s;
}
/*調整（owl-item）的大小及原本設定的背景色改為透明*/
#demos .owl-carousel .owl-item .item {
  height: 400px;
}
#demos .owl-carousel .owl-item .item {
  padding: 0;
  background-color: transparent;
}
/*調整被觸發中間的（owl-item）的大小*/
#demos .owl-carousel .owl-item.active.center .item {
  position: absolute;
  width: 110%;
  left: -5%;
  top: -40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}
/*假設（owl-item）裡圖片的大小不一樣，使用以下調整*/
#demos .owl-carousel .owl-item .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*調整owl-dots的位置，不要跟放大後的圖片重疊到*/
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
